
.flex {
    display: flex;
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.center {
    align-items: center;
}

.end {
    align-items: flex-end;
}

.start {
    align-items: flex-start;
}

.stretch {
    align-items: stretch;
}

.middle {
    justify-content: center;
}

.top {
    justify-content: flex-start;
}

.bottom {
    justify-content: flex-end;
}

.baseline {
    align-items: baseline;
}

.self-end {
    align-self: flex-end;
}





.post-form {
    max-width: 800px;
}

.form-group {
    margin: 16px 0;
}

.text {
    color: #495057;
    font-size: 1rem;
    line-height: 1.5;
}

.input-field {
    padding: .375rem .75rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.btn-submit {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.icon {
    margin: 5px;
}

.link-text {
    text-decoration: none;
}
.nav-text {
    list-style-type: none;
}

.nav-link {
    padding: 16px;
}

.nav-link:hover {
    background-color: #66becc;
}

.primary-background {
    background-color: #17a2b8;
}

.white {
    color: white;
}

